@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Permanent+Marker&family=Roboto+Slab&family=Rubik+Wet+Paint&family=Satisfy&family=Shadows+Into+Light&family=Tapestry&display=swap');
@import "/src/styless/main.css";

.Home-container{
    background-color:var(--secondary-color);
    padding:1.6rem;
}
.cate-img{
    width:15rem;
    height:30vh;
}
.heading{
    text-decoration: underline;
}
.category-container{
    display:flex;
    justify-content:center;
    flex-wrap: wrap;
    margin-top: 2.5rem;
    gap:3rem;
}
.category{
    color:var(--black);
    border: 0.1px solid var(--black);;
    padding:var(--special-padding);
    border-radius:var(--border-radius);
    font-family: 'Libre Bodoni', serif;
    background-color:var(--black);
    color:var(--white-color);
}
.category:hover{
   background-color:rgb(46, 3, 59);
   color:var(--white-color);
}
.input-box{
    padding:0.3rem;
    font-size:1.2rem;
    background-color:  var(--primary-color);
    color:var(--white-color);
}
.textCenter{
    text-align:center;
}

.home-heading{
    display:flex;
    flex-direction:column;
    align-items: center;

}


