@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Permanent+Marker&family=Roboto+Slab&family=Rubik+Wet+Paint&family=Satisfy&family=Shadows+Into+Light&family=Tapestry&display=swap');

.result-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:1.5rem;
    background-color:var(--secondary-color);
    padding:1.6rem;
    height: 100vh;
    font-family: 'Libre Bodoni', serif;
}

.questions-cont{
    font-family: 'Libre Bodoni', serif;
    color:var(--white-color);
}

.score-heading{
    text-decoration: underline;
    color:var(--primary-color);
    
}
.ques{
    display:flex;
    flex-direction: column;
    align-items: center;
     width:18rem;
    margin-bottom: 0.8rem;
    background-color:var(--primary-color); 
    border-radius:var(--border-radius);
    padding:0.5rem;

}

#bg-color{
    background-color:green;
}