
:root{
    --white-color:white;
    --primary-color:rgb(37, 18, 48);
    --secondary-color:rgb(210, 216, 214);
    --hoverColor:rgb(151, 10, 194);
    --black:black;
    --special-font-size:1.1rem;
    --special-padding:0.5rem;
    
}