@import "/src/styless/main.css";

.footer-container{
    height:12vh;
    padding:var(--special-padding);
    background-color:var(--primary-color);
    color:var(--white-color);
    text-align:center;
}
.contact-logo a{
    font-size:var(--special-font-size);
    color:var(--white-color);
}
.footer-text{
    font-size:var(--special-font-size);
    color:var(--white-color);
}
.logo{
    margin: 0.8rem;
}